[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lfbandiola
[access "refs/for/refs/*"]
	read = group user/lfbandiola
	push = group user/lfbandiola
	label-Code-Review = -2..+2 group user/lfbandiola
	label-Verified = -1..+1 group user/lfbandiola
	rebase = group user/lfbandiola
	removeReviewer = group user/lfbandiola
	submit = group user/lfbandiola
[access "refs/heads/*"]
	read = group user/lfbandiola
	create = group user/lfbandiola
	push = +force group user/lfbandiola
	pushMerge = group user/lfbandiola
[access "refs/tags/*"]
	push = group user/lfbandiola
	push = +force group user/lfbandiola
